/*	#96858F;#6D7993;#9099A2;#D5D5D5; */

body p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	color: #2C3E50;
}

.heading {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #2C3E50;
	font-size: 2em;
}

.langHeading {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #2C3E50;
	font-size: 1.7em;
}

.footerHeading {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #2C3E50;
	font-size: 1.3em;
	margin-top: 20px;
}

.jumbotron {
	background: #ecf0f1;
	margin-top: 55px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	text-align: center;
}

#name {
	font-size: 3em;
	margin-top: 20px;
}

#selfPortrait {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 250px;
	width: 250px;
}

#aboutMe{
	padding-bottom: 30px;
}

#aboutMe p {
	padding-bottom: 20px;
}

.aboutHoriz {
	border-top: 2px solid #f8f8f8;
	border-bottom: 2px solid rgba(0,0,0,0.2);
}

.langHoriz {
	border-bottom: 1px solid #e6e6e6;
	margin-right: 5%;
	margin-left: 5%
}

.languageLogo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
	height: 200px;
	width: 200px;
}

.languagePar {
	margin-top: 20px;
}

.footer {
	background: #ecf0f1;
	margin-top: 25px;
}

.footer p {
	font-family: 'Open Sans', sans-serif;
	color: #2C3E50;
	font-size: 1em;
}

h5 {
	font-family: 'Open Sans', sans-serif;
	color: #2C3E50;
	font-size: 1.1em;
}

a {
	font-family: 'Open Sans', sans-serif;
	color: #2C3E50;
	font-size: 1em;
}

a:hover {
	color: #96858F;
}
